/* CUSTOM CURSOR - SIMBA PAW?? */

.body
{
	background-color: #ff3f31;
}

.page-container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #ff3f31;
	border-radius: 15px;
	box-shadow: -5px 5px #aa3f31;
}

.header
{
	text-align: center;
	border-radius: 15px;
	background-color: #dd3f31;
	margin: 15px;
	box-shadow: -5px 5px #aa3f31;
}
.heading
{
	color: skyblue;
	font-weight: bold;
	font-size: 32px;
}

.tiles-container, .final-tile
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

.door
{
	width: 300px;
	height: 300px;
}

.final-door
{
	width: 500px;
	height: 500px;
	border-radius: 5px;
}

.door, .final-door
{
	position: relative;
	cursor: pointer;
	perspective: 1000px;
}

.door img, .final-door img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.door-image
{
	z-index: 2;
	transform-origin: left;
	transition: transform 1s ease;
	backface-visibility: hidden;
}

.inside-image
{
	z-index: 1;
}

.door.opened .door-image
{
	transform: rotateY(-180deg);
}