.body
{
	background-color: #c3e4f9;
}

.page-container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #c3e4f9;
	border-radius: 15px;
	box-shadow: -5px 5px #82c6f2;
}

.header
{
	text-align: center;
	border-radius: 15px;
	background-color: #a8daf9;
	margin: 15px;
	box-shadow: -5px 5px #82c6f2;
}
.heading
{
	color: #529cf2;
	font-weight: bold;
	font-size: 32px;
}


.tiles-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}


.door
{
	width: 700px;
	height: 850px;
	object-fit: contain;
	position: relative;
	perspective: 1000px;
	cursor: pointer;
}

.door img
{
	position: absolute;
}

.door-image
{
	z-index: 2;
	transform-origin: left;
	transition: transform 1s ease;
	backface-visibility: hidden;
	max-width: 100%;
	height: auto;
	object-fit: contain;
	flex: 1 1 auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.inside-image
{
	z-index: 1;
	max-width: 300px;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0%);
	bottom: 0;
	margin-bottom: 35px;
	visibility: hidden;
}

.door.opened .door-image
{
	transform: rotateY(-180deg);
}

.door.opened .inside-image
{
	visibility: visible;
}