/* CUSTOM CURSOR - SIMBA PAW?? */

.body
{
	background-color: #c3e4f9;
}

.page-container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #c3e4f9;
	border-radius: 15px;
	box-shadow: -5px 5px #82c6f2;
}

.header
{
	text-align: center;
	border-radius: 15px;
	background-color: #a8daf9;
	margin: 15px;
	box-shadow: -5px 5px #82c6f2;
}
.heading
{
	color: #529cf2;
	font-weight: bold;
	font-size: 32px;
}

.tiles-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}

.door
{
	width: 400px;
	height: 400px;
	object-fit: contain;
	position: relative;
	perspective: 1000px;
	cursor: pointer;
}

.door img
{
	position: absolute;
	/*top: 0;
	left: 0;
	width: 100%;
	height: 100%;*/
}

.door-image
{
	z-index: 2;
	transform-origin: left;
	transition: transform 1s ease;
	backface-visibility: hidden;
	max-width: 100%;
	height: auto;
	object-fit: contain;
	flex: 1 1 auto;
	top: 0;
	left: 0;

/* new */
	width: 100%;
	height: 100%;
}

.inside-image
{
	z-index: 1;

	/* new */
	width: 100px;
	height: 100px;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 0;
}

.door.opened .door-image
{
	transform: rotateY(-180deg);
}